<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Results for "{{ query }}"</h1>

{% if results %}
    <ul>
        {% for p in results %}
            <li>
                <h2>{{ p.icon }} {{ p.name }}</h2>
                <p>Category: {{ p.category }}</p>
                <p>{{ p.description }}</p>
                <p>₹{{ p.price }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No products found ❌</p>
{% endif %}



</body>
</html>